# Rename this file vcenter.secret.env after adding your vCenter credentials
# Docs: https://docs.ansible.com/ansible/latest/collections/community/vmware/index.html
export VMWARE_HOST=
export VMWARE_USER=
export VMWARE_PASSWORD=
export VMWARE_VALIDATE_CERTS=FALSE
