#cloud-config
hostname: {{ guest.inventory_hostname }}
timezone: {{ guest.virtual_guest_timezone | default(virtual_guest_timezone) }}
ssh_pwauth: {{ guest.virtual_guest_ssh_pwauth | default(false) }}

package_update: true
packages: {{ guest.virtual_guest_packages | default(virtual_guest_packages) }}
  
users:
  - default
  - name: ansible
    groups: ["sudo"]
    lock_passwd: true
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_import_id: {{ guest.virtual_guest_ansible_ssh_import_id | default(virtual_guest_ansible_ssh_import_id) }}

system_info:
  default_user:
    name: bouncmpe
    passwd: $6$bubk9lLYlmugZF03$YTOTIlm2r8miU0uMvn1/xXcSeI02G./wxvpcSDAJdI4GfwV6CppEw20DSAU4x7y7dEzM7evWdAb6ON6SAMKlw0 #changethis
    shell: /bin/bash
    groups: [sudo]
    sudo: ALL=(ALL) ALL
    lock_passwd: false
